.calendar-control-btn {
  border:0;
   -webkit-user-select:none;
}

.calendar-control-btn:focus {
  outline:0;
}

.calendar-control-btn  {
  position: relative;
  background:#141414;
  color:#141414;
  text-transform: uppercase;
  vertical-align:top;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  touch-action: none;
  cursor: pointer;
}

.calendar-control-btn:before{
  content: "";
  position: absolute;
  z-index: -1;
  transform: scale(1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(251, 255, 244);
  transition: all .15s;
}


.calendar-control-btn-desctop {
  width: 80px;
  height:30px;
  font-weight: 700;
}


.calendar-control-btn-mobile {
  width: 25%;
  height: 35px;
}

@media (min-width: 769px) {
  .calendar-control-panel {
    position: relative;
  float:left;
  margin:35px 0 0 200px;
  display:inline-block;
  border-left: 1px solid #141414;
  border-right: 1px solid #141414;
  border-radius: 7px;
  }

  .calendar-control-panel:before, .calendar-control-panel:after {
    display: block;
    border-top: 1px double #141414;  
    content:"";
    position: absolute;
    width: 70px;
    z-index: 1;
  }

  .calendar-control-panel:before {
    left: -80px;
    top:50%;
  }

  .calendar-control-panel:after {
    right: -80px;
    top:50%;
  }

  .calendar-control-btn:hover:before {
  transform: scale(0);
  }

  .calendar-control-btn:hover {
    color:rgb(251, 255, 244);
  }
}

@media (max-width: 768px) {
  .calendar-control-panel {
    width:100%;
  }

  .calendar-control-btn:active:before {
      transform: scale(0);
  }

  .calendar-control-btn:active {
    color:rgb(251, 255, 244);
  }
}
