.event-list-headline {
  width: 80%;
  margin:auto;
}

.event-list-switcher {
  margin:10px 20px 0 0 ;
  float: right;
}

.event-list-switcher-state {
  padding-right: 10px;
}

.event-type-headline {
  padding: 5px 0 0 15px;
  float:left;
  font-size:1.4rem;
}

.past-event-hide-btn:focus {
  outline: 0;
}

.event-list-item {
  background: #fff;
  position: relative;
  display: table;
  height: 70px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid rgb(194, 196, 193);
  box-shadow: 0 0 1px gray;
  border-radius: 3px 3px 0 40px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
}

.event-list-item div{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

.event-list-item-type {
  border-right: 1px solid rgb(194, 196, 193);
  font-size: 1.5rem;
  color: rgb(78, 78, 78);
  width: 70px;
}

.event-list-item-date {
  width: 100px;
}

.event-list-item-date h2 {
  font-size: 2rem;
}

.event-list-item-title {
  text-align: left;
  width: calc(100% - 140px);
}

.event-list-item-title h2 {
  font-size: 2rem;
}

.event-list-item-title span {
  font-size: 1.1rem;
  font-weight: 700;
  color:rgb(78, 78, 78);
}

.capitalize {
  text-transform: capitalize;
}

.past-event {
  opacity: 0.3;
}

.hiden {
  display: none;
}



.past-event-hide-checkbox {
	height: 0;
	width: 0;
	visibility: hidden;
}

.past-event-hide-checkbox + label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: inline-block;
	border-radius: 100px;
	position: relative;
}

.past-event-hide-checkbox + label:after {
	content: '';
	position: absolute;
	top: 5%;
	left: 2.5%;
	width: 45%;
	height: 90%;
	background: #fff;
	border-radius: 100%;
	transition: 0.3s;
}

.past-event-hide-checkbox:checked + label {
	background: #bada55;
}

.past-event-hide-checkbox:checked + label:after {
	left: calc(100% - 2.5%);
	transform: translateX(-100%);
}

.past-event-hide-checkbox + label:active:after {
	width: 65%;
}

@media (min-width: 769px) {
  .event-list-item:hover:before {
    left:40px;
    right:0;
  }

  .event-list-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  }
}

@media (max-width: 768px) {
  .event-list-headline {
    width: 95%;
    margin:auto;
  }

  .event-list-item {
    width: 95%;
    margin: 10px auto;
    border-radius: 2px;
  }

  .event-list-item-type {
    width: 30px;
  }

  .event-type-headline {
    padding:5px 0 0 0;
  }

  .event-list-switcher {
    margin:10px 0 0 0 ;
  }
}
